.cardStyles,
.btnStyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

.card {
  margin: 20px;
  padding: 0%;
}

button {
  margin: 10px;
}

body {
  background-color: lightgrey;
}

.card-text, 
.card-title, 
.card-body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

header {
  text-align: center;
  border-bottom: solid 1px darkgray;
  background-color: rgb(230, 228, 228);
  padding-top: 5px;
  padding-bottom: 10px;
}

p {
  text-align: center;
}

.typeStyles {
  text-align: center;
  border-top: solid 1px darkgray;
  background-color: rgb(230, 228, 228);
  padding: 10px;
  margin: 0px;
}

.card-img-top {
  align-self: center;
  max-width: 175px;
  max-height: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: solid darkgray 1px;
  padding: 10px;
}
